name: tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      ## this will contain a matrix of all of the combinations
      ## we wish to test again:
      matrix:
        go-version: [1.12.x, 1.13.x, 1.14.x]
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    # Setup Go
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    ## Checks out the code locally.
    - name: Checkout code
      uses: actions/checkout@v2

    # Install all the dependencies
    - name: Install dependencies
      run: |
        go version
        go get -u golang.org/x/lint/golint
        go get -v -t -d ./...

    # Run vet & lint on the code
    - name: Run vet & lint
      run: |
        go vet .
        golint .

    # Run testing on the code
    - name: Run testing
      run: |
        go test -v -cover `go list ./... | grep -v 'examples\|benchmarks'`
